*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




header{
    height: 50px;
    background-color: rgb(216, 240, 240);
}


/* BLOCK, CONTAINER, ROW, CONTENT */

.block{
    width: 100%;
    height: 500px;
}

.container-1400{
    max-width: 1400px;
    margin: 0 auto;
    height: 300px;
    padding-top: 50px;
}

.container-1200{
    max-width: 1200px;
    margin: 0 auto;
    height: 400px;
    padding-top: 50px;
}

.container-full{
    width: 100%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


/* COLONNE */

.col-33{
    width: calc(100% / 3 - 10px);
}

.col-66{
    width: calc(100% / 3 * 2);
    height: 200px;
    background-color: grey;
}

.col-30{
    width: calc(100% / 3 - 20px);
    height: 300px;
    background-color: darkgreen;
}

.col-100{
    width: calc(100% - 20px);
    height: 200px;
    background-color: orchid;
}

.col-60{
    width: 60%;
    height: 200px;
    background-color: darkgreen;
}

.col-40{
    width: 40%;
    height: 200px;
    background-color: firebrick;
}

/* COLORI */

.border{
    border: 1px solid black;
}

.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

.bg-orange{
    background-color: orange;
}

/* PADDING, MARGIN */

.margin-l-20{
    margin-left: 20px;
}

.margin-r-20{
    margin-right: 20px;
}

.margin-t-20{
    margin-top: 20px;
}

/* SQUARES */

.square-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 50%;
    height: calc(100vh / 2 / 2 );
}



